<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ReadToken" value="994BCF73-1E51-419D-B1A2-E316EFF6F008"/>
    <add key="PublishToken" value="64B7A077-2D9A-437C-AFEF-AA46B6352B60"/>
    <add key="ServerWithPort" value="broomscom.com/CFG.Hub"/>
    <add key="UseHTTPS" value="false"/>
  </appSettings>
</configuration>
